node_modules
dist
*.tsbuildinfo
.env
.env.*
!.env.example
coverage
.turbo
.DS_Store
openapi.json
.cl*
.cu*
.wrangler

# Changelog maintained in apps/docs/src/data/changelog.ts only
**/CHANGELOG.md

webi-bot.js
fluxer-ai-bot.js

# IDE files
.vscode
.idea

# OS files
Thumbs.db
